<div class="header-nav-bar backdrop-blur-sm fixed w-full z-50 bg-primary-green">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <div class="flex-shrink-0">
        <h1 class="text-2xl font-playfair text-primary-yellow">
          {{'title' | translate}}
        </h1>
      </div>
      <div class="hidden md:block">
        <div class="ml-10 flex items-baseline space-x-8">
          @for(item of menuItems; track item.id){
            <a href="javascript:;" (click)="scrollToElement.emit(item.id)" [ngClass]="(isActivePage(item.id) ? 'nav-tab-active underline' : 'nav-tab-inactive')">
              {{item.name}}
            </a>
          }
          <button [ngClass]="'nav-tab-inactive'" (click)="changeLang()">Change Language</button>
        </div>
      </div>
    </div>
    <div class="flex items-center mx-2 md:hidden">
      <button (click)="toggleMenu()" class="text-primary-yellow focus:outline-none" aria-label="toggle menu button">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path [attr.d]="isOpen() ? 'M6 18L18 6M6 6l12 12' : 'M4 6h16M4 12h16M4 18h16'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </div>
</div>
@if(isOpen()){
  <div class="fixed md:hidden w-full bg-primary-green pt-30">
    @for(item of menuItems; track item.id;){
      <div>
        <a href="'#' + item.id" (click)="scrollToElement.emit(item.id)" [ngClass]="(isActivePage('/'+item.id) ? 'nav-tab-active underline' : 'nav-tab-inactive')">Home</a>
      </div>
    }
  </div>
}
<!--    <div class="mx-auto px-2 sm:px-2 lg:px-8">-->
<!--      <div class="flex space-x-2 text-custom-gold nav-tabs items-center justify-center">-->
<!--        <div class="left-side-header justify-items-end pt-10 pr-3 hidden lg:block">-->
<!--          <a href="#home" (click)="scrollToElement('home')" [ngClass]="(isActivePage('/home') ? 'nav-tab-active underline' : 'nav-tab-inactive')">Home</a>-->
<!--          <a href="#olive-oil" (click)="scrollToElement('olive-oil')" class="decoration-[#fffff]" [ngClass]="isActivePage('/olive-oil') ? 'nav-tab-active' : 'nav-tab-inactive'">Olive Oil</a>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div>&ndash;&gt;-->
<!--&lt;!&ndash;          <img ngSrc="img/logo.webp" height="80" width="80" alt="logo image" class="h-20 w-auto max-w-full object-contain" priority>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="right-side-header pt-10 pl-3 hidden lg:block">-->
<!--          <div class="justify-items-start">-->
<!--            <a href="#about-us" (click)="scrollToElement('about-us')" [ngClass]="isActivePage('/about-us') ? 'nav-tab-active' : 'nav-tab-inactive'">About Us</a>-->
<!--            <a href="#contact-us" (click)="scrollToElement('contact-us')" [ngClass]="isActivePage('/contact-us') ? 'nav-tab-active' : 'nav-tab-inactive'">Contact Us</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
