<nav class="header-nav-bar backdrop-blur-sm fixed w-full z-50 bg-primary-green">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
            <!--   Mobile menu button    -->
            <div class="md:hidden">
              <button (click)="toggleMenu()" class="text-primary-yellow focus:outline-none" aria-label="toggle menu button">
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path [attr.d]="isOpen() ? 'M6 18L18 6M6 6l12 12' : 'M4 6h16M4 12h16M4 18h16'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
            <div class="flex-shrink-0">
              <h1 class="md:text-2xl pl-2 font-bold text-primary-yellow justify-content-center">
                Mediterranean Boutique
              </h1>
            </div>
            <span class="flex md:hidden mx-auto">
                  <div (click)="changeLang()" ngClass="text-primary-yellow inactive m-auto cursor-pointer">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <g stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"/>
                        <path d="M2 12h20"/>
                        <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10A15.3 15.3 0 0 1 12 2z"/>
                      </g>
                    </svg>
                  </div>
              </span>
            <!--   Desktop Menu     -->
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-8">
                  @for(item of menuItems; track item.id){
                      <a href="javascript:;" (click)="scrollToElement.emit(item.id)" [ngClass]="(isActivePage(item.id) ? 'nav-tab-active underline' : 'nav-tab-inactive')">
                        {{item.name}}
                      </a>
                  }
                  <div (click)="changeLang()" ngClass="text-primary-yellow inactive m-auto cursor-pointer">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <g stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"/>
                        <path d="M2 12h20"/>
                        <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10A15.3 15.3 0 0 1 12 2z"/>
                      </g>
                    </svg>
                  </div>
              </div>
            </div>
            <app-shopping-cart-header/>
        </div>
        <!-- Mobile Menu -->
        @if(isOpen()){
            <div class="md:hidden">
                <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3 border-primary-yellow/20 bg-primary-green">
                    @for(item of menuItems; track item.id;){
                        <a href="javascript:;" (click)="navigateTo(item.id)"
                           class="flex text-primary-yellow text-base font-medium transition-colors duration-300"
                        ><span [ngClass]="(isActivePage(item.id) ? 'nav-tab-active underline' : 'nav-tab-inactive')">{{item.name}}</span></a>
                    }
                </div>
            </div>
        }

    </div>
</nav>
