<div class="shadow rounded p-2">
  <img ngSrc="{{item().imageUrl}}"
       width="300"
       height="400"
       alt="Early harvest oil bottle"
       class="aspect-square rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
  <div class="mt-4 flex justify-between">
    <div>
      <h3 class="text-sm text-gray-700">
        <span>{{item().info}}</span>
      </h3>
      <p class="mt-1 text-sm text-gray-500">{{item().year}}</p>
    </div>
    <p class="text-sm font-medium text-gray-900">{{item().price}}</p>
  </div>
  <button type="button"
          class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          (click)="addToCart('123')"
  >Add To Cart</button>
</div>
