<div class="group hover:shadow-xl transition-all duration-500 border-olive-green/30 overflow-hidden animate-scale-in">
  <div class="overflow-hidden">
    <img ngSrc="{{item().imageUrl}}"
         [height]="300"
         [width]="300"
         alt="Early harvest oil bottle"
         class="object-fit group-hover:scale-110 transition-transform duration-600 w-full h-180"
    />
  </div>
  <div class="p-6 bg-white">
    <div>
      <h3 class="text-2xl font-semibold mb-3">
        <span>{{item().name}}</span>
      </h3>
      <p class="text-olive-medium mb-4 leading-relaxed">
        {{item().info}}
      </p>
      <div>
        <p class="text-olive mb-4 leading-relaxed">{{item().year}}</p>
      </div>

    </div>
    <p class="text-sm font-medium text-gray-900">{{item().price}}</p>
  </div>

  <button type="button"
          class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          (click)="addToCart(item().id)"
  >Shop Now</button>
</div>
