<app-header
  [activeComponent]="activeComponent"
  (scrollToElement)="scrollToElement($event)"
/>

<div class="container w-full m-0">
<!-- Mobile dropdown menu -->

  <div class="w-full m-auto">
    <section id="home">
      <app-home/>
    </section>
    <section id="olive-oil">
      <app-olive-oil/>
    </section>
    <section id="about-us">
      <app-about-us/>
    </section>
    <section id="contact-us">
      <app-contact-us/>
    </section>
  </div>

</div>
<div class="footer">

</div>
