
<div class="flex justify-center">
  <img ngSrc="img/olive-tree.webp" width="600" height="600" alt="Collecting olives" class="" priority/>
</div>
<h2 class="text-center">Welcome to Mediterranean Boutique</h2>
<div class="md:flex">
  <div class="md:shrink-0">
    <div class="p-8">
      <p class="mt-2 ">
          {{'home.p0' | translate}}
      </p>
      <p class="mt-2 ">
        {{'home.p1' | translate}}
      </p>
      <p class="mt-2 ">
        {{'home.p2' | translate}}
      </p>
      <p class="mt-2">
        {{'home.p3' | translate}}
      </p>
    </div>
  </div>
</div>
