<!-- header.component.html -->
<nav class="bg-white shadow-md px-4 py-2">
<div class="flex mt-2 ml-2">
    <div class="wrapper sm:flex items-center">
        <div class="sm:w-full">
          <img ngSrc="img/olive-branch.webp" width="400" height="400" alt="About us image" priority/>
        </div>
        <div class="m-2">
          <p>
          {{'about-us.p0' | translate}}
          </p>
          <p class="mt-2">
            {{'about-us.p1' | translate}}
          </p>
          <p class="mt-2">
            {{'about-us.p2' | translate}}
          </p>
          <p>
            {{'about-us.p3' | translate}}
          </p>
          <p class="mt-2">
            {{'about-us.p4' | translate}}
          </p>
        </div>
    </div>

</div>
</nav>
