<!-- header.component.html -->
<nav class="bg-white shadow-md px-4 py-2">
<div class="mt-4 ml-4">
    <div class="wrapper flex items-center">
        <div>
          <img src="img/aboutus.png" alt="About us image"/>
        </div>
        <div class="ml-10 text-center">
          <p>
            Mediterranean Boutique is a company started by two young people living in
            Denmark, but with deep roots in the Mediterranean.

            Both of us grew up in small villages in Greece, surrounded by family traditions, pure
            flavors, and a deep respect for quality. We know how special those products are - and
            how hard they are to find outside their homeland.
          </p>
          <p class="mt-2">
            After living in Copenhagen for several years, the idea took root:
            What if we could share the taste, quality, and values we grew up with - with people who
            truly appreciate the difference?
          </p>
          <p class="mt-2">
            That’s how Mediterranean Boutique was born.
          </p>
          <p>
            We’re passionate about sourcing only the finest products, handpicked from producers who
            care deeply about their craft. We speak to them directly, review their processes, check
            every certification, and choose only what we believe in - no compromises.
          </p>
          <p class="mt-2">
            This isn’t about mass production. It’s about meaningful selection.
            And as we grow, our goal stays the same: to connect people with real Mediterranean
            products, full of tradition, flavor, and heart.
          </p>
        </div>
    </div>

</div>
